<h1>Note Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :subject, params[:subject] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @notes.each do |note| %>
    <li>
      <h3>
        <%= link_to note.subject, controller: "notes", action: "show", id: note._id%>
      </h3>
    </li>
  <% end %>
</ul>
