this is the grading partial
<h3>test set : <%= @test_set %> </h3>

<h3>testing : <%= @testing %> </h3>

<h3>questions: <%= @ts_array %> </h3>

<h3>array: <%= @array_answers %></h3>

<h3>user: <%= @user_answers %></h3>

<h3>score: <%= "#{@score} / #{@array_answers.size}" %> 

above is where the answers are suppose to be
